@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<h1 class="text-center">Welcome to CRUDelicious</h1>
<div class="container-fluid d-flex justify-content-between">
    <p class="d-flex justify-content-start ">Checkout some recent dishes!</p>
    <a href="/new" class="d-flex justify-content-end ">Add a Dish</a>
</div>


@{
    foreach (Dish d in Model)
    {
        <p><a href="/viewdish/@d.DishesId">@d.DishName</a> by @d.ChefName</p>
    }
}