@{
    ViewData["Title"] = "Home Page";
}
@model LoginUser


<form asp-action="Login" asp-controller="Home" class="post" class="col-6">
    <h2>Login</h2>
    <div class="form-group">
        <label asp-for="LoginEmail"></label>
        <input asp-for="LoginEmail" class="form-control">
        <span class="text-danger" asp-validation-for="LoginEmail"></span>
    </div>
    <div class="form-group">
        <label asp-for="LoginPassword"></label>
        <input asp-for="LoginPassword" class="form-control">
        <span class="text-danger" asp-validation-for="LoginPassword"></span>
    </div>
    <input type="submit" value="Login" class="btn btn-outline-primary">
</form>